html {
    background-color: #fafafa
}

#navbar {

}

.repository-box {

}

.repository-box:hover {
    background-color: #f0f0f0;
    /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5),0 0 0 1px rgba(10,10,10,.1); */
}

.repository-breadcrumb {
    font-size: 0.9rem;
}

.repository-breadcrumb a {
    padding: 0 .35em;
    font-weight: 400;
}

.repository-tree-block {
    font-size: 0.9rem;
    padding: 0;
}

.branch-tabs {
    margin-bottom: 0rem !important;
}

.branch-dropdown-content {
    min-width: 20rem;
}

.branch-dropdown-item {
    padding: 0;
}

.branch-list {
    max-height: 19rem;
    overflow-y: scroll;
}

.pgit-markdown-contianer {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    border-top: inherit;
}

.pgit-markdown-contianer ul {
    list-style: disc outside none;
}

.pgit-code-contianer {
    padding: 0.2rem;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    border-top: inherit;
    overflow-x: scroll;
    width: 100%;
}

.hljs ol {
    list-style: decimal;
    margin: 0 0 0 2rem !important;
    padding: 0px;
}

.hljs ol li {
    list-style: decimal-leading-zero;
    border-left: 1px solid #ddd !important;
    /* padding: 0.2rem!important; */
    margin: 0 !important;
    white-space: pre;
    text-indent: 0.5rem;
}
