html {
    background-color: #fafafa
}

#navbar {

}

.repository-box {

}

.repository-box:hover {
    background-color: #f0f0f0;
    /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5),0 0 0 1px rgba(10,10,10,.1); */
}

.repository-breadcrumb {
    font-size: 0.9rem;
}

.repository-breadcrumb a {
    padding: 0 .35em;
    font-weight: 400;
}

.repository-tree-block {
    font-size: 0.9rem;
    padding: 0;
}

.branch-tabs {
    margin-bottom: 0rem !important;
}

.pgit-markdown-contianer {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    border-top: inherit;
}

.pgit-markdown-contianer ul {
    list-style: disc outside none;
}