<nav id="navbar" class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <!-- <img src="/images/bulma-logo.png" width="112" height="28"> -->
            <h1><strong>PGIT</strong></h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" v-on:click="toggleMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" v-bind:class="{ 'is-active': menuActive }" v-on:click="closeMenu">
        <div class="navbar-start">
            
            <router-link to="/repositories" class="navbar-item">
                {{ message.repositories }}
            </router-link>

            <!-- <router-link to="/settings" class="navbar-item">
                {{ message.task }}
            </router-link> -->

            <router-link to="/settings" class="navbar-item">
                {{ message.settings }}
            </router-link>

            <!-- <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ message.language }}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div> -->
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <router-link to="/new" class="button is-success">
                    <strong>{{ message.new_repositories }}</strong>
                </router-link>
            </div>
        </div>
    </div>
</nav>