<div class="container">
    <div class="columns is-centered">
        <div class="column">
            <h1 class="title is-3 is-spaced">{{ metadata.name }}</h1>
            <h2 class="subtitle is-6">{{ metadata.description }}</h2>
        </div>
    </div>
    <!-- <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class="box">hello</div>
        </div>
    </div> -->
    <div class="columns">
        <div class="column">
            <div class="dropdown is-hoverable">
                <!-- <div class="dropdown is-active"> -->
                <div class="dropdown-trigger">
                    <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-branch-search">
                        <span>Branch: <strong>master</strong></span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-branch-search" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="control has-icons-right">
                                <input class="input is-small" type="email" placeholder="Email">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                            <div class="is-boxed">
                                <div class="branch-tabs tabs is-small">
                                    <ul>
                                        <li class="is-active"><a>Branch</a></li>
                                        <li><a>Tags</a></li>
                                    </ul>
                                </div>
                                <ul class="menu-list">
                                    <li><a>master</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control"></div>
            </div>
        </div>
        <div class="column">
            <div class="control is-mobile">
                <div class="buttons has-addons is-small">
                    <span class="button is-small">new file</span>
                    <span class="button is-small">upload</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field has-addons">
                <p class="control">
                    <span class="select is-small">
                        <select>
                            <option>HTTP</option>
                            <option>SSH</option>
                        </select>
                    </span>
                </p>
                <p class="control is-expanded">
                    <input class="input is-small" type="text" placeholder="Amount of money">
                </p>
                <p class="control">
                    <a class="button is-small">
                        <i class="fas fa-paste"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <a v-bind:href="download" class="button is-success is-small">Download ZIP</a>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column">
            <nav class="breadcrumb repository-breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a>Bulma</a></li>
                    <li><a>Documentation</a></li>
                    <li><a>Components</a></li>
                    <li class="is-active"><a aria-current="page">Breadcrumb</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="panel">
                <div class="panel-heading">
                    -
                </div>
                <div class="panel-block repository-tree-block">
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                        title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                </td>
                                <td>38</td>

                            </tr>
                            <tr>
                                <th>2</th>
                                <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C."
                                        title="Arsenal F.C.">Arsenal</a>
                                </td>
                                <td>38</td>

                            </tr>
                            <tr>
                                <th>3</th>
                                <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                                        title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
                                <td>38</td>

                            </tr>
                           
                            <tr>
                                <th>5</th>
                                <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C."
                                        title="Manchester United F.C.">Manchester United</a></td>
                                <td>38</td>

                            </tr>
                            <tr>
                                <th>6</th>
                                <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C."
                                        title="Southampton F.C.">Southampton</a></td>
                                <td>38</td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                    <a>marksheet</a>
                                </td>
                                <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C."
                                        title="West Ham United F.C.">West Ham United</a></td>
                                <td>38</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>