<div>
    <div v-for="item, key in repositories" class="box is-three-quarters">
        <article class="media">
            <!-- <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
            </div> -->
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ item.name }}</strong> 
                        <br>
                        {{ item.description }}
                    </p>
                </div>
                
            </div>
        </article>
    </div>
</div>